<head>
</head>
<div style="height:30px;">
</div>
<div class="container" style="background-color:transparent !important;">
	<div class="jumbotron">
  <h1>Trending</h1>
  <p>All people will be able to see the top Scripts of the site.
	 It is going to be sort of the frontpage of the site. </p>
	  <p class="text-center">
	  	<%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-lg btn-info" %>
	  </p>
	</div>
<hr />
</div>